a:focus{
	outline: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:15px;
    padding-left:0;

    &:last-child{
    	padding-right: 0px;
    }
}

.wrap{
	display: table;
	height: 100%;
	width: 100%;
}

.cell{
	display: table-cell;
	vertical-align: middle;
}

.main-head{
	color: #232323;
	font-size: 30px;
	padding-left: 15px;
	font-size: 36px;
	margin-top: 40px;
}

.custom-bg{
	background-position: center top;
	background-size: cover;	
	min-height: calc(~"100vh - 346px");
	color: white;

	h2{
		text-shadow: 2px 2px black;
		font-size: 50px;
		@media (min-width: @screen-md-min){
			font-size: 60px;
			letter-spacing: 4px;
		}
	}
	.slick-content{
		text-align: center;
		p{
			margin-bottom: 30px;
		}
	}
}
