body{
	background: white;
}

h1,h2,h3,h4,a,p,body{
	font-family: 'denseregular';
}



/************************

		HEADER

************************/


.navigation{
	text-align: center;
	background-color: white;
	width: 100%;
	height: auto;
	border-bottom: 2px solid #ccc;
}

.logo{
	background: url(../img/logo.svg) no-repeat left center;
	color: black;
	height: 95px;
	display: inline-block;
	margin: auto;
	background-size:70px;
	text-decoration: none !important;
	background-position-y:18px;
	@media (min-width: @screen-sm-min){
		height: 110px;
		background-size:80px;
		background-position-y:20px;
	}
	h1{
		margin:0;
		font-size: 90px;
		padding-left: 70px;
		padding-top: 7px;
		font-weight: 100;
		@media (min-width: @screen-sm-min){
			font-size: 110px;
			padding-left: 90px;
			padding-top: 5px;
		}
	}
}

.menu{
	list-style-type: none;
	display: table;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 280px;
	margin: auto;
	text-align: center;
	@media (min-width: @screen-sm-min){
		width: 350px;
	}
	li{
		display: table-cell;
		vertical-align: middle;
		&:first-child{
			text-align:left;
		}
		&:last-child{
			text-align: right;
		}
	}
	a{
		padding: 0px 15px;
		font-size: 24px;
		text-transform: uppercase;
		color: #333;
		text-decoration: none;
		&:first-child{
			padding-left:0px;
		}
		&:last-child{
			padding-right:0px;
		}
	}
}

/************************

		HEADER

************************/

.hero{
	position: relative;
}

.darkness{
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
}
.landing_bg_1{
	.custom-bg();
}

.slick-content{
	display: table;
	width: 100%;
	min-height: calc(~"100vh - 346px");

	h2{
		text-transform: uppercase;
	}
}

.slick-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	.social-items{
		list-style-type: none;
		width: 140px;
		text-align: center;
		display: inline-block;
		padding-left: 0;
		margin: 0;
		li{
			display: block;
			width: 30px;
			float: left;
			margin: 10px 20px;
			img{
				width: 100%;
			}
		}
	}
	.add-info{
		list-style-type: none;
		padding:0;
		margin: 0;
		text-align: center;
		width: 100%;
		display: block;
			li{
				display: inline-block;
				text-align: center;
				font-size: 24px;
				color: black;
				width: 100%;
				padding: 0;
				letter-spacing: 0.5px;
				@media (min-width: @screen-sm-min){
					float: none;
					width: auto;
				}
				span{
					display: none;
					margin: 0 5px;
					@media (min-width: @screen-sm-min){
						display: inline-block;
					}
				}
			}
	}
	.follow{
		text-transform: uppercase;
		font-size: 24px;
		color: black;
		font-weight: bold;

	}
}
